@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Orelega One';
  src: url('/OrelegaOne-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('/Inter_18pt-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Chicle';
  src: url('/Chicle-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter_18pt-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
}